/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #f79319;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #f79319;
    color: #fff;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,800,300,600,700);

/* ==========================================================================
   Main Styles (Body, H1, H2, H3, etc...)
   ========================================================================== */
   
body {
	font: normal 400 1em/1.5em 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
    background: #12151a url('../images/bg.jpg') no-repeat left top;
    color: #4D4D4D;
    max-width: 960px;
    margin: 0 auto;
}

blockquote {
    margin-bottom: 25px; /* */
    margin-top: 25px; /* */
    font-size: 1.5em; /* 24px */
    line-height: 1.25em; /* 20px */
    font-style: italic;
    font-weight: 600;
    text-align: left;
    text-indent: 16px;
    color: #941C1e;
}

h1 {
    font-size: 2.5em; /* 40px */
    line-height: 1.5em; /* 24px */
    margin-bottom: 20px; /* */
    font-style: normal;
    font-weight: 800;
    text-transform: uppercase;
    color: #f79319;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}

h2 {
    margin-top: 20px; /* */
    margin-bottom: 20px; /* */
    font-size: 2em; /* 32px */
    line-height: 1.25em; /* 20px*/
    letter-spacing: 0px;
    font-weight: 600;
    font-style: normal;
    color: #11a6ac;
}

h3 {
    font-style: normal;
    font-weight: 600;
    color: #11a6ac;
    font-size: 1.75em; /* 28px */
    line-height: 1.1em; /* 18px */
    margin-top: 20px; /* */
    margin-bottom: 20px; /* */
}

h4 {
    font-size: 1.5em; /* 24px */
    line-height: 1.5em; /* 24px */
    color: #11a6ac;
    font-weight: 600;
    font-style: normal;
}

h5 {
    font-weight: 600;
    font-style: normal;
    font-size: 1.25em; /* 20px */
    line-height: 1.25em; /* 20px */
    color: #11a6ac;
    margin-top: 20px; /* */
    margin-bottom: 20px; /* */
}

h6 {
    color: #11a6ac;
    font-size: 1.1em; /* 17.6px */
    line-height: 1.1em; /* 17.6px */
    margin-top: 20px; /* */
    margin-bottom: 20px; /* */
    font-weight: 600;
    font-style: normal;
}

p {
    margin-bottom: 20px; /* */
    text-indent: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5em; /* 24px */
    color: #b7b7b7;
    margin-top: 20px; /* */
}

a:link {
    text-decoration: none;
    color: #f79319;
}

a:visited {
    color: #f79319;
}

a:hover {
    color: #11a6ac;
}

p.intro {
    text-indent: 0px;
    margin-bottom: 25px; /* */
    line-height: 1.25em; /* 20px */
    font-size: 1.5em; /* 24px */
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0px;
    color: #11a6ac;
}

p.first {
    text-indent: 0px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5em; /* 24px */
    color: #941C1e;
}

p.footer {
    text-indent: 0px;
    margin-bottom: 0;
    font-size: .95em; /* 15.2px */
    letter-spacing: 0.0625em; /* 1px */
    color: #941C1e;
    font-style: normal;
    font-weight: 300;
}

p.credits {
	font-size: .75em; /* 12px */
}

#mainContent {
	width: 100%;
}

/* ==========================================================================
   Header
   ========================================================================== */

header {
	height: 120px;
	padding: 10px 0;
	width: 100%; /* 960px */
	overflow: hidden;
}

#logo {
	width: 15.625%; /* 150px */
	height: 120px;
	display: block;
	float: left;
	position: relative;
}

#logo img {
	max-width: 100%;
}

/* ==========================================================================
   Navigation
   ========================================================================== */

nav {
	font-size: .8em; /* 12.8px */
	display: block;
	width: 83.25%;
	float: right;
	position: relative;
}

nav ul {
	margin: 42px 0;
}

nav li {
	float: right;
	margin: 0 0 0 1.041666666667%; /* 0 0 0 10px */
	background: #000;
	border-radius: 7px;
}

nav li a {
	color: #fff !important;
	line-height: 1.875em; /* 30px */
	text-align: center;
	text-transform: uppercase;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6);
	display: block;
	padding: 4px 10px;
	border: 1px solid #bf1a1d;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	background: #f02f34; /* Old browsers */
	background: -moz-linear-gradient(top,  #f02f34 0%, #bf1a1d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f02f34), color-stop(100%,#bf1a1d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f02f34 0%,#bf1a1d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f02f34 0%,#bf1a1d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f02f34 0%,#bf1a1d 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f02f34 0%,#bf1a1d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f02f34', endColorstr='#bf1a1d',GradientType=0 ); /* IE6-9 */

}

nav li a:hover {
	text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.6);
	background: #bf1a1d; /* Old browsers */
	background: -moz-linear-gradient(top,  #bf1a1d 0%, #f02f34 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bf1a1d), color-stop(100%,#f02f34)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #bf1a1d 0%,#f02f34 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #bf1a1d 0%,#f02f34 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #bf1a1d 0%,#f02f34 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #bf1a1d 0%,#f02f34 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf1a1d', endColorstr='#f02f34',GradientType=0 ); /* IE6-9 */
}

/* ==========================================================================
   Body Content
   ========================================================================== */

#promoVid {
	position: relative;
	padding-bottom: 56.25%;
	overflow: hidden;
}

#promoVid iframe,
#promoVid object,
#promoVid embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


#buyNow {
	width: 100%; /* 960px */
	position: relative;
	height: 60px;
	background: #12151a;
}

#buyNow h1 {
    display: block;
	position: relative;
	float: left;
	margin: 0;
}

#buyNow h4 {
    display: inline-block;
	position: relative;
	color: #941C1e;
	line-height: 1.5em; /* 24px */
	margin: 12px 0 0 10px; /* */
}

#cta {
	float: right;
	display: inline-table;
	margin: 10px 0; /*  */
}

#cta a {
	color: #fff;
	font-size: 1.1em; /* 17.6px */
	text-decoration: none;
	text-transform: uppercase;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6);
	display: block;
	height: 30px; /* */
	line-height: 1.875em; /* 30px */
	text-align: center;
	padding: 5px 15px; /* */
	border: 1px solid #d87f13;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	background: #ed8f15; /* Old browsers */
	background: -moz-linear-gradient(top,  #ed8f15 0%, #d87f13 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ed8f15), color-stop(100%,#d87f13)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ed8f15 0%,#d87f13 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ed8f15 0%,#d87f13 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ed8f15 0%,#d87f13 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ed8f15 0%,#d87f13 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed8f15', endColorstr='#d87f13',GradientType=0 ); /* IE6-9 */
}

#cta a:hover {
	text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.6);
	background: #d87f13; /* Old browsers */
	background: -moz-linear-gradient(top,  #d87f13 0%, #ed8f15 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d87f13), color-stop(100%,#ed8f15)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #d87f13 0%,#ed8f15 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #d87f13 0%,#ed8f15 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #d87f13 0%,#ed8f15 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #d87f13 0%,#ed8f15 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d87f13', endColorstr='#ed8f15',GradientType=0 ); /* IE6-9 */
}

#formList {
	width: 100%;
	background: rgba(18, 21, 26, 0.3);
}

#signUpForm {
	width: 48%;
	height: 390px;
	padding: 1%;
	float: left;
}

#signUpForm p {
	margin: 0;
	float: right;
}

#albumArtwork {
	float: left;
	width: 20%;
}

#albumArtwork img {
	max-width: 100%;
}

#joinIntro {
	float: right;
	width: 75%;
	margin: 22px auto 40px auto;
	color: #b7b7b7;
}

p.formField {
	float: right;
	width: 96%;
	padding: 5px 0;
	color: #11a6ac;
}

form {
	margin:20px auto;
}

label {
	width: 35%;
	margin: 0 10px 0 0;
	font: 300 .9em 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
}

#first-name, #last-name, #email {
	width: 63%;
}

.formField.email-push {
	left: 34px;
	position: relative;
}

/* Placeholder Text */
	::-webkit-input-placeholder {
	   color: #941C1e;
	   font: 300 .85em 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
	}
	:-moz-placeholder { /* Firefox 18- */
	   color: #941C1e; 
	   font: 300 .85em 'Open Sans', Verdana, Arial, Helvetica, sans-serif; 
	}
	::-moz-placeholder {  /* Firefox 19+ */
	   color: #941C1e;  
	   font: 300 .85em 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
	}
	:-ms-input-placeholder {  
	   color: #941C1e;  
	   font: 300 .85em 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
	}
/* Placeholder Text - Focus */	
	:focus::-webkit-input-placeholder {
	   color: transparent;
	}
	:focus:-moz-placeholder { /* Firefox 18- */
	   color: transparent;
	}
	:focus::-moz-placeholder {  /* Firefox 19+ */
	   color: transparent;
	}
	:focus:-ms-input-placeholder {  
	   color: transparent;
	}

#signUpForm p.submit {
	margin: 30px 0 0 !important;
	width: 100%;
}

.privacyPolicy {
	font-size: .7em;
	margin: 0 2% 0 13%;
}

.button {
	color: #fff;
	font-size: .9em;
	text-decoration: none;
	text-transform: uppercase;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6);
	padding: 1.5% 2%;
	border: 1px solid #d87f13;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	background: #ed8f15; /* Old browsers */
	background: -moz-linear-gradient(top,  #ed8f15 0%, #d87f13 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ed8f15), color-stop(100%,#d87f13)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ed8f15 0%,#d87f13 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ed8f15 0%,#d87f13 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ed8f15 0%,#d87f13 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ed8f15 0%,#d87f13 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed8f15', endColorstr='#d87f13',GradientType=0 ); /* IE6-9 */
}

.button:hover {
	text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.6);
	background: #d87f13; /* Old browsers */
	background: -moz-linear-gradient(top,  #d87f13 0%, #ed8f15 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d87f13), color-stop(100%,#ed8f15)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #d87f13 0%,#ed8f15 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #d87f13 0%,#ed8f15 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #d87f13 0%,#ed8f15 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #d87f13 0%,#ed8f15 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d87f13', endColorstr='#ed8f15',GradientType=0 ); /* IE6-9 */
}

#tracklist {
	width: 48%;
	padding: 1%;
	float: right;
}

table {
	width: 100%;
	font-size: .8em;
	color: #b7b7b7;
	background: rgba(18, 21, 26, 0.3);
}

thead {
	text-align: left;
	color: #11a6ac;
	background: rgba(18, 21, 26, 0.8);
}

.even {
	background: rgba(18, 21, 26, 0.5);
}

.track {
	text-align: center;
	color: #5f5f5f;
}


#bodyContent {
	width: 66.666666666667%; /* 640px */
	float: left;
}

/* ==========================================================================
   Sidebar
   ========================================================================== */

#sidebar {
	width: 31.25%; /* 300px */
	float: right;
	background: rgba(18, 21, 26, 0.3);
	padding: 10px; /* */
	position: relative;
}

#sidebar h3 {
	margin: 0 0 10px 10px; /* */
	width: 100%; /* 300px */
	float: left;
}

#discography ul {
	padding: 0;
}

#discography li {
	list-style-type: none;
	float: left;
	width: 26.666666666667%; /* 80px */
	padding: 3.333333333333%; /* 10px */
}

#discography li img {
	max-width: 100%; /* 80px */
}


#gallery ul {
	margin: auto;
	padding: 0; /* */
}

#gallery li {
	list-style-type: none;
	float: left;
	width: 40%; /* 120px */
	padding: 3.333333333333%; /* 10px */
}

#gallery li img {
	max-width: 100%; /* 120px */
}

/* ==========================================================================
   Footer
   ========================================================================== */

#stickyFooter {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -142px;
}

footer {
	clear: both;
	height: 142px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

	/* Tablet portrait through standard 960 (devices and browsers) */
@media screen and (min-width: 768px) and (max-width: 956px) {

	body {
		background: #000;
	}
	
	header {
		padding: 10px 0;
		width: 98%;
		height: 100%;
		overflow: hidden;
		margin: 0 auto;
	}
	
	#logo {
		height: 100%;
	}
	
	nav {
		font-size: .75em;
		margin: 30px 0;
	}
	
	nav ul {
		margin: 0;
		padding: 0;
	}
	
	nav li a {
		padding: 1px 4px;
	}
	
	#buyNow {
		width: 98%;
		height: 100%;
		margin: 0 auto;
	}
	
	#buyNow  h1 {
		font-size: 3.25em;
	}
	
	#buyNow  h4 {
		font-size: 2.1em;
	}
	
	#joinIntro {
		margin: 2px auto 20px;
	}
	
	#cta {
		width: 100%;
		float: none;
	}
		
	#bodyContent {
		width: 95%;
		margin: 0 auto;
		float: none;
	}
	
	#sidebar {
		width: 95%;
		margin: 0 auto;
		float: none;
		background: rgba(18, 21, 26, 0.3);
		position: relative;
	}
	
	#videos {
		display: none;
	}
	
	#stickyFooter {
		width: 98%;
	}
	
	footer {
		height: 100%;
		padding: 0 0 10px 0;
	}
}

	/* Mobile landscape through tablet portrait */
@media screen and (min-width: 480px) and (max-width: 767px) {
	
	body {
		background: #000;
	}
	
	header {
		padding: 10px 0;
		width: 98%;
		height: 100%;
		overflow: hidden;
		margin: 0 auto;
	}
	
	#logo {
		height: 100%;
	}
	
	nav {
		font-size: .75em;
		margin: 1% 0;
	}
	
	nav ul {
		margin: 0;
		padding: 0;
	}
	
	nav li a {
		padding: 1px 4px;
		margin: 3px 0;
	}
	
	#buyNow {
		width: 98%;
		height: 100%;
		margin: 0 auto;
		text-align: center;
	}
	
	#buyNow  h1 {
		font-size: 3.25em;
		float: none;
	}
	
	#buyNow  h4 {
		font-size: 2.1em;
		margin: 0;
	}
	
	#cta {
		width: 100%;
		float: none;
	}
		
	#bodyContent {
		width: 95%;
		margin: 0 auto;
		float: none;
	}
	
	#sidebar {
		width: 95%;
		margin: 0 auto;
		float: none;
		background: rgba(18, 21, 26, 0.3);
		position: relative;
	}
	
	#videos {
		display: none;
	}
	
	#stickyFooter {
		width: 98%;
	}
	
	footer {
		height: 100%;
		padding: 0 0 10px 0;
	}
}

	/* Mobile portrait through mobile landscape */
@media screen and (max-width: 479px) {
	body {
		background: #000;
	}
	
	header {
		padding: 10px 0;
		width: 98%;
		height: 100%;
		overflow: hidden;
		margin: 0 auto;
	}
	
	#logo {
		height: 100%;
		margin: 3% 0;
	}
	
	nav {
		font-size: .75em;
		margin: 1% 0;
	}
	
	nav ul {
		margin: 0;
		padding: 0;
	}
	
	nav li a {
		padding: 1px 4px;
		margin: 3px 0;
	}
	
	#buyNow {
		width: 98%;
		height: 100%;
		margin: 0 auto;
		text-align: center;
	}
	
	#buyNow  h1 {
		font-size: 2.6em;
		float: none;
	}
	
	#buyNow  h4 {
		font-size: 2em;
		margin: 0;
	}
	
	#cta {
		width: 100%;
		float: none;
	}
	
	#signUpForm {
		width: 95%;
		float: none;
		height: 100%;
	}
		
	#tracklist {
		width: 98%;
		padding: 1%;
		float: none;
	}	
		
	#bodyContent {
		width: 95%;
		margin: 0 auto;
		float: none;
	}
	
	#sidebar {
		width: 95%;
		margin: 0 auto;
		float: none;
		background: rgba(18, 21, 26, 0.3);
		position: relative;
	}
	
	#videos {
		display: none;
	}
	
	#stickyFooter {
		width: 98%;
	}
	
	footer {
		height: 100%;
		padding: 0 0 10px 0;
	}
}

/* ==========================================================================
   Print Styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
